<div class="left-nav-list">
  <div class="left-col-head">
    <img class="logo-img" src="assets/images/billing_app_logo.png">
  </div>
  <mat-divider matInset></mat-divider>
  <mat-nav-list>
    <div class="left-nav" *ngIf="loaded && moduleMenuItems">

      <ng-template let-item let-last="last" ngFor [ngForOf]="moduleMenuItems">

        <div>
          <div class="menu-heading">{{item.heading}}</div>

          <div *ngFor="let menuItem of item.menuItems">
            <div>
              <a mat-list-item routerLink="{{menuItem.url}}" routerLinkActive="active-left-nav">
                <span class="heading" class="item-text">{{menuItem.title}} </span>
              </a>
              <mat-divider matInset class="border-bot"></mat-divider>
            </div>
          </div>
        </div>

      </ng-template>
    </div>
  </mat-nav-list>
</div>
