.w-block{
  
}

.w-block .lnk-icon{
  font-size:100px;width:auto;
  color:#3d3d3d;
  transform: scale(0.9);
  transition: all 0.3s;
}

.w-block:hover .lnk-icon{
  transform: scale(1);
  color:#4050B0;
  transition: all 0.5s;
  
}

.w-block .lbl{
  color:black
}

.w-block-txt{
  margin: 0px 10px;
  text-align: left !important;
}

.w-block-txt .lbl::first-letter{
  font-size: 130%;
  font-weight: bold;
  color: black;
}

.w-block-txt .lbl{
  font-size: 20px;
  color: #5f5d5d;
  transform: scale(0.9);
  transition: all 0.5s;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 13px;
}

.w-block-txt:hover .lbl{
  border: 1px solid gray;
  transform: scale(1);
  transition: all 0.5s;
  
}


.lnk{
  text-align:center;
  text-decoration: none;
}