.header-block {
  background-color: #eaeaea;
  font-family: 'Roboto', arial, sans-serif;
}
.logo {
  height: 50px;
  padding: 5px;
  margin-left: 12px;
  margin-top: 4px;
}
.header-nav {
  margin-right: 52px;
  margin-top: 17px;
  font-size: 20px;
}
.header-nav a{
  text-decoration: none;
  color:#0256A5;
  /* background-color:#0256A5; */
  /* border-radius: 5px; */
  /* padding: 5px;  */
}
h1 {
  font-weight: 300;
  font-size: 3em;
  margin: 25px;
  color: #414141;
  font-size: 36px;
  letter-spacing: -0.2px;
}
