<header fxLayout="row" fxLayoutAlign="space-between" class="header-block">
  <div fxLayout="row" routerLink="/login">

    <img src="assets/images/billing_app_logo.svg" alt="Billing App" class="logo">
    <h2>Education Information System</h2>

  </div>
  <div class="header-nav" fxLayoutAlign="space-evenly">
    <a routerLink="/login">Login</a>
  </div>



</header>
