<div fxLayout="column" fxLayoutAlign="center center" *ngIf="user">
  <img style="padding: 20px" src="{{ user.photoUrl }}">


  <public-reg-form style="width: 100%" [fbUser]="user"></public-reg-form>
</div>
