<div>
  <mat-toolbar class="tool_b">Bill</mat-toolbar>

  <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

  <div class="mat-elevation-z8" [@pageState]="pageState">
    <div>
      <mat-form-field fxFlex class="dgSearchBar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

      <ng-container matColumnDef="title">
        <mat-header-cell fxFlex="25" *matHeaderCellDef mat-sort-header class="list-header"> {{attrLabels['title']}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="25"> {{element.title}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="amount">
        <mat-header-cell fxFlex="10" *matHeaderCellDef mat-sort-header class="list-header"> {{attrLabels['amount']}}
        </mat-header-cell>
        <mat-cell fxFlex="10" *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="amountPer">
        <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header class="list-header"> Per Person Amount
        </mat-header-cell>
        <mat-cell fxFlex="15" *matCellDef="let element"> {{ (element.amount /
          element['billParticipants'].length).toFixed(2)}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="participant">
        <mat-header-cell fxFlex="50" *matHeaderCellDef mat-sort-header class="list-header"> Participants
        </mat-header-cell>
        <mat-cell fxFlex="50" *matCellDef="let element">
          <span *ngFor="let billParticipant of element['billParticipants']" class="comma">
            {{billParticipant['participant']['name']}}
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

  </div>
  <div class="right-bottom-button">
    <a mat-fab class="add-button" [routerLink]="['/home/bills/create']">
      <mat-icon>add</mat-icon>
    </a>
  </div>
</div>
