<div [@pageState]="pageState" style="margin-top:50px">
  <div class="parent">
    <div *ngFor="let item of menuItems">
      <shared-dashboard-item [ngClass]="(type == 'icon' ? 'child' : 'child-txt')" [icon]="item.icon" [label]="item.title"
        [link]="item.url" [type]="type"></shared-dashboard-item>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
