<div>
  <mat-toolbar class="tool_b">Bill</mat-toolbar>

  <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

  <mat-card *ngIf="loaded" [@pageState]="pageState">


    <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader>

    <div class="mcard" *ngIf="bill">
      <div>
        <mat-card-title class="mc-title">Add Bill</mat-card-title>

      </div>
      <mat-card-content>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
            <mat-form-field fxFlex="50">
              <input matInput #title maxlength="100" [placeholder]="componentLabels.title" formControlName="title"
                required [autofocus]="true">
              <mat-error *ngIf="fg.get('title').hasError('required')">{{componentLabels.title }} is required.</mat-error>
              <mat-error *ngIf="fg.get('title').hasError('maxlength')">Exceeding Maximum length.</mat-error>

            </mat-form-field>

            <mat-form-field fxFlex="50">
              <input matInput [placeholder]="componentLabels.amount" formControlName="amount" type="number">
              <mat-error *ngIf="fg.get('amount').hasError('required')">{{componentLabels.amount }} is required.</mat-error>
              <mat-error *ngIf="fg.get('amount').hasError('negative')">{{componentLabels.amount }} cannot be negative.</mat-error>

            </mat-form-field>

          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="100">
              <mat-select [placeholder]="componentLabels.userIds" formControlName="userIds" multiple>
                <mat-option *ngFor="let user of users" [value]="user.friendId">{{user.senderName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="fg.get('userIds').hasError('required')">{{componentLabels.userIds }} are required.</mat-error>
            </mat-form-field>

          </div>



          <div fxLayout="row" fxLayoutGap="10px" class="action-btn">
            <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
            <a color="accent" mat-raised-button [routerLink]="['/home/bills']">Cancel</a>
          </div>

        </form>

      </mat-card-content>
    </div>
  </mat-card>
</div>
