<div style="margin: 20px" fxLayout="column" fxLayoutAlign="center center">

  <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

  <mat-card *ngIf="loaded" [@pageState]="pageState" style="width : 80%">

    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content *ngIf="loaded">
      <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">
        <div class="user-info">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="stretch center">

            <mat-form-field fxFlex="50">
              <input matInput [placeholder]="userLabels.username" formControlName="username" required [autofocus]="true">
              <mat-error *ngIf="fg.get('username').hasError('required')">Username is required</mat-error>
              <mat-error *ngIf="fg.get('username').hasError('email') && !fg.get('username').hasError('required') ">Invalid
                email</mat-error>
              <mat-error *ngIf="fg.get('username').hasError('exists')">Email already exists in system. Enter a
                different one.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50">
              <input matInput [placeholder]="userLabels.name" formControlName="name" required>
              <mat-error *ngIf="fg.get('name').hasError('required')">Name is required</mat-error>
            </mat-form-field>


          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="50">
              <input type="password" matInput [placeholder]="userLabels.password" formControlName="password" required>
              <mat-error *ngIf="fg.get('password').hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="fg.get('password').hasError('equalTo') && !fg.get('password').hasError('required') ">Password
                did not match</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50">
              <input type="password" matInput [placeholder]="userLabels.confirmPassword" formControlName="confirmPassword"
                required>
              <mat-error *ngIf="fg.get('confirmPassword').hasError('required')">Confirm Password is required</mat-error>
              <mat-error *ngIf="fg.get('confirmPassword').hasError('equalTo') && !fg.get('confirmPassword').hasError('required')">Password
                did not match</mat-error>
            </mat-form-field>
          </div>
        </div>



        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
        <a color="accent" mat-raised-button [routerLink]="['/login']">Cancel</a>
      </form>
    </mat-card-content>
  </mat-card>

</div>
