<section>

  <div class="loginwrapper">

    <!-- Login Form -->
    <div class="sec_loginForm">

      <shared-mat-card-loader *ngIf="loginInProgress"></shared-mat-card-loader>

      <div class="login_form">
        <img src="assets/images/billing_app_logo.svg" alt="">

        <form #loginForm="ngForm" [formGroup]="fg" (ngSubmit)="login(loginForm.value)" class="mainForm">
          <mat-form-field class="input_group">
            <input matInput class="form_control" [placeholder]="attributesLabels.username" formControlName="username"
              required>
          </mat-form-field>
          <mat-form-field class="input_group">
            <input matInput class="form_control" [placeholder]="attributesLabels.password" type="password"
              formControlName="password" required>
          </mat-form-field>
          <span style="color: red" *ngIf="authError"> {{authError.message}}</span>

          <div class="input_group">

            <button mat-raised-button color="primary" class="btn btn-primary btn-circle btn-block" [disabled]="!loginForm.form.valid"
              type="submit">Login</button>
            <br>
            <br>

          </div>

          <div style="margin-top:40px">
          </div>


        </form>
        <div class="input_group">

          <button mat-button color="accent" class="reg-btn" [routerLink]="['/login/signup']" type="submit">Register</button>
          <br>
          Or
        </div>
        <div class="input_group">

          <button mat-button color="accent" [routerLink]="['/login/signupWithFB']" class="reg-btn-f" type="submit">Register
            using Facebook</button>
          <br>

        </div>
      </div>
    </div>

  </div>
</section>
