h1 {
  min-height: 200px;
  background-color: #ccc;
  text-align: center;
  line-height: 200px;
}

/* for login  */

.submit-button {
  background-color: #0053A3 !important;
  color: white !important;
  margin-top: 0px;
}

.text-danger a {
  text-decoration: none;
  color: #FB7D6D;
  font-size: 13px;
}

.text-danger a:hover {
  cursor: pointer;
}

.loginwrapper {
  width: 100vw;
  height: 100vh;
  display: table;
  vertical-align: top;
  overflow: hidden;
}

.loginwrapper .sec_loginForm {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  height: 100%;
  position: relative;
}



.loginwrapper .sec_loginForm .login_form {
  width: 300px;
  height: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.loginwrapper .sec_loginForm .login_form img {
  width: 100px;
}



.loginwrapper .sec_loginForm .login_form .input_group {

  margin: 20px auto !important;
}

.loginwrapper .sec_loginForm .login_form .input_group .btn {
  width: 80% !important;
  line-height: 20px;
  font-size: 12px;
  padding: 8px 25px;
  border-radius: 40px !important;
  margin-bottom: 15px;
  background-color: #0053A3 !important;
  color: white;
  box-shadow: 0 4px 4px -2px gray;
}

.loginwrapper .sec_loginForm .login_form .input_group .reg-btn {
  width: 80% !important;
  line-height: 20px;
  font-size: 12px;
  padding: 8px 25px;
  margin-bottom: 15px;
  background-color: #E3F2FD !important;
  color: black;
  box-shadow: 0 4px 4px -2px gray;
}

.loginwrapper .sec_loginForm .login_form .input_group .reg-btn-f {
  width: 80% !important;
  line-height: 20px;
  font-size: 12px;
  padding: 8px 25px;
  margin-bottom: 15px;
  background-color: #1A237E !important;
  color: white;
  box-shadow: 0 4px 4px -2px gray;
}

.form_control {
  width: 100%;
  font-size: 16px;
  border: none;
  /* border-bottom: 1px solid #ddd; */
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.form_control+label {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 16px;
  color: #ddd;
  transition: all .2s ease-in-out;
  font-weight: 400;
}

.form_control:focus {
  outline: none;
  border-color: #4553a4;
  transition: all .2s ease-in-out;
}

.form_control:focus+label,
.form_control.has_class+label {
  top: -15px;
  color: #4553a4;
  font-size: 12px;
}

.form_control {
  text-align: left;
}

.login-button {
  margin-top: 20px;
}

.login-link {
  margin-top: 10px;
  color: #FB7D6D !important;
  font-size: 14px;
  font-family: Open Sans;
  cursor: pointer;
}

.mat-form-field {
  width: 90% !important;
  padding-bottom: 0px !important;
}

.registration-link {
  font-size: 20px;
  color: #0053A3;
  cursor: pointer;
  text-decoration: none;
  font-family: Open Sans;
}
