<mat-sidenav-container (backdropClick)="close('backdrop')" [ngClass]="{'example-container': !isShow}" style="min-width:1245px;">

  <div fxLayout="row" class="layout-body">

    <div class="relative-page-content">

      <layout-classic-left-nav></layout-classic-left-nav>

      <div fxFlex fxLayout="column">

        <layout-classic-header></layout-classic-header>


        <div class="layout-page-content" fxLayout="row">
          <layout-flash-msg></layout-flash-msg>
          <div fxFlex>
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>

      <!-- <layout-classic-side-nav></layout-classic-side-nav> -->
      <!-- <layout-classic-side-nav (showSideNav)="onShowSideNav($event)" [ngClass]="{'display-none': isShow}"></layout-classic-side-nav> -->


    </div>
  </div>

  <layout-classic-footer></layout-classic-footer>
</mat-sidenav-container>
