.layout-body {
  min-height: calc(100vh - 10px);
}

.relative-page-content {
  flex: auto;
  /* position: relative; */
}

.layout-page-content {
  margin: 15px 10px 10px 10px;
}

.display-none {
  display: none;
}