/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/theming'; */

/* @import '~@covalent/core/theming/all-theme'; */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */


@import url('https://fonts.googleapis.com/css?family=Roboto');



body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0px;
  background-color: #f7f7f7;
}

h1 {
  font-weight: 300;
  font-size: 2em;
  margin: 20px;
}

h2 {
  font-weight: 300;
  font-size: 1.7em;
  margin: 20px;
}

h3 {
  font-weight: 300;
  font-size: 1.43em;
  margin: 20px;
}

th {
  font-weight: 300;
  font-size: 1.33em;
  margin: 20px;
}

p {
  font-weight: 200;
  font-size: 1em;
  margin: 20px;
}

.icon {
  color: gray;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
}

/* ***************************************************************************** */

/* Custome CSS */

/* ***************************************************************************** */

.page-content {
  width: 98%;
  margin: 0 auto;
}

.content-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  background-color: #ffffff;
}

.right-bottom-button {
  position: fixed;
  bottom: 32px;
  right: 11px;

}

.message {
  position: fixed;
  z-index: 1;
  background-color: white;
  left: 50%;
}

.dg-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 0 30px;
}

.dg-search {
  min-height: 65px;
  margin-top: 10px;
}

.dg-action {
  text-align: end;
  visibility: hidden;
}

.mat-row {
  transition: background-color 0.1s ease-in, transform 0.2s ease-out, border-bottom-color 0.5s ease-out;
}

.mat-row:hover {
  background-color: #EEEEEF;
  /* transform: scale(1); */
  border-bottom-color: darkgray;
}

/* .dg-container .mat-row:hover .dg-action {
    visibility: visible;
    background-color: lightgray;
  } */

.delete-icon {
  color: #f44336;
}

/* CSS Included by Umair */

.complaints {
  margin-bottom: 25px;
}

mat-icon:hover {
  cursor: pointer;
}

.dgSearchBar {
  margin: 20px 20px 0px 20px;
}

/* Use class options to hide any div */

/* Use class hover-effect to display options div. Use it as parent of options */

/* ***************************************************************************** */

.opt-header {
  position: absolute;
  right: 0;
}

.options {
  visibility: hidden;
  text-align: end;
  /* transition: visibility 0.5s ease-in; */
  position: absolute;
  right: 0;
  padding: 4px 0px;
}

.hover-effect:hover .options {
  visibility: visible;
  background-color: white;
}

/*******************************************************************************************/

.permissions-footer {
  margin: 20px 0 0 0 !important;
}

/* Mat Card Style */

.mcard {
  margin-bottom: 10px;
}

.mcard .mc-title {
  font-size: 20px;
}

.mcard .mc-action-btn {
  position: absolute;
  right: 10px;
  top: 6px;
}

.mcard .mc-btn-rb {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* Dialog Pop-up */



.progress-bar-margin {
  margin-bottom: 10px;
}

.lower-to-capital {
  text-transform: uppercase;
}


/*
   * Buttons
   *
  */
.mat-raised-button {
  border-radius: 15px !important;
  margin-right: 5px !important;
}

.normal-btn {

  border-radius: 0px !important;

}

.fcap {
  text-transform: capitalize
}

.custom-lbl {
  color: rgba(0, 0, 0, 0.50);
}

@media print {
  .hide-from-print {
    display: none;
  }
}

@media screen {
  .hide-from-screen {
    display: none;
  }
}

.list-header {
  font-size: 14px !important;
  font-weight: bold !important;
  color: black !important;
}

/**
  *
  * colors for buttons in entire application
  */
.add-button {
  background-color: #F1536C !important;
  color: #ffffff !important;
}

.tool_b {
  background: darkgray !important;
  margin-bottom: 10px !important;
  font-size: 15px !important;
  height: 50px !important;
  font-weight: bold !important;
}

.mat-drawer-content {
  position: unset !important;
}
