<div>
  <mat-toolbar class="tool_b">Friends</mat-toolbar>
  <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

  <div [@pageState]="pageState">

    <!-- Material Data Table -->
    <div class="mat-elevation-z8">

      <div>
        <mat-form-field fxFlex class="dgSearchBar">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
      <div>

        <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()"
          matSortDisableClear>

          <ng-container matColumnDef="name">
            <mat-header-cell fxFlex="30" *matHeaderCellDef mat-sort-header class="list-header"> {{attrLabels['name']}}
            </mat-header-cell>
            <mat-cell fxFlex="30" *matCellDef="let element"> {{element.senderName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="username">
            <mat-header-cell fxFlex="70" *matHeaderCellDef mat-sort-header class="list-header">
              {{attrLabels['username']}} </mat-header-cell>
            <mat-cell fxFlex="70" *matCellDef="let element"> {{element.senderUsername}} </mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

  </div>
</div>
