<div>
  <mat-toolbar color="primary" fxLayout="row" class="header-color">

    <div fxLayout="row" fxFlex>

      <div *ngFor="let item of moduleMenu">
        <a class="mm-item" [class.activeModule]="(item.name == selectedModuleName)" routerLink="{{item.url}}" (click)="navigateAndLoadMenu(item)">{{item.title}}</a>
      </div>

    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="menu" fxLayout="row" fxLayoutAlign="center center">
        <i style="margin: 5px" class="material-icons">
          menu
        </i>
        <div fxFlex style="margin-right:10px;">{{ username }}</div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>

    </div>
  </mat-toolbar>
</div>
