.profile-photo {
  width: 24px;
  height: 24px;
  margin-top: 6px;
}

.mm-item {
  margin-right: 3px;
  font-size: 14px;
  /* color: #6C6A81; */
  color: white;
  padding: 7px 11px;
  text-decoration: none;
  text-decoration: none;
  border-radius: 17px;
}

.mm-item:hover, .activeModule {
  color: #ffffff;
  /* background: #48465D; */
  background: #646373;
}

.header-color {
  color: white;
  background: #403D56 !important;
}
/* element.style {
  color: #403D56;
  background: white;
} */

.side-nav-icon {
  margin-left: 10px;
}
