<!-- Commenting header because for now only public page for riphah is login screen as per they are not using pre registration forms. -->
<!-- <app-public-header></app-public-header> -->
<router-outlet></router-outlet>